
@font-face {
  font-family: 'SeasideResortNF';
  src: url('SeasideResortNF.eot?#iefix') format('embedded-opentype'),  url('SeasideResortNF.woff') format('woff'), url('SeasideResortNF.ttf')  format('truetype'), url('SeasideResortNF.svg#SeasideResortNF') format('svg');
  font-weight: normal;
  font-style: normal;
}
